<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.berkeley.cs160.gsale"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="17" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <!-- The following permissions are required for Google Maps use -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="edu.berkeley.cs160.gsale.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- The following permissions are required for camera use -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <permission
        android:name="edu.berkeley.cs160.gsale.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <uses-library
            android:name="com.google.android.maps"
            android:required="true" />

        <activity
            android:name="edu.berkeley.cs160.gsale.HomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.berkeley.cs160.gsale.MapActivity"
            android:label="@string/title_activity_map"
            android:parentActivityName="HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="HomeActivity" />
        </activity>
        <activity
            android:name="edu.berkeley.cs160.gsale.SearchActivity"
            android:label="@string/title_activity_search"
            android:launchMode="singleTop"
            android:parentActivityName="HomeActivity" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="HomeActivity" />
        </activity>
        <activity
            android:name="edu.berkeley.cs160.gsale.MessagesActivity"
            android:label="@string/title_activity_messages"
            android:parentActivityName="HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="HomeActivity" />
        </activity>
        <activity
            android:name="edu.berkeley.cs160.gsale.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="HomeActivity" />
        </activity>
        <activity
            android:name="edu.berkeley.cs160.gsale.FollowedActivity"
            android:label="@string/title_activity_followed"
            android:parentActivityName="HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="HomeActivity" />
        </activity>
        <activity
            android:name="edu.berkeley.cs160.gsale.CreateEditActivity"
            android:label="@string/title_activity_create_edit"
            android:parentActivityName="HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="HomeActivity" />
        </activity>
        <activity
            android:name="edu.berkeley.cs160.gsale.DummyCamera"
            android:label="@string/title_activity_dummy_camera" >
        </activity>
        <activity
            android:name="edu.berkeley.cs160.gsale.EditSaleActivity"
            android:label="@string/title_activity_edit_sale"
            android:parentActivityName="HomeActivity"
            android:windowSoftInputMode="adjustResize" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="HomeActivity" />
        </activity>
        <activity
            android:name="edu.berkeley.cs160.gsale.DetailsActivity"
            android:label="@string/title_activity_details"
            android:parentActivityName="HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="HomeActivity" />
        </activity>

        <!-- Google Maps Android API v2 key -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAFar8THSeWmrF601hccEIA_l-Aa8jcGUQ" />

        <activity
            android:name="edu.berkeley.cs160.gsale.ViewPhotosActivity"
            android:label="@string/title_activity_view_photos"
            android:parentActivityName="HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="HomeActivity" />
        </activity>
        <activity
            android:name="edu.berkeley.cs160.gsale.PhotoPreviewActivity"
            android:label="@string/title_activity_photo_preview" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="HomeActivity" />
        </activity>
    </application>

</manifest>